*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 125rem;
  padding: 0 2.5rem;
  margin: 0 auto;
}

.main__title {
  margin: 0 auto;
  font-size: 42px;
  line-height: 1.23;
  color: #02505e;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 1000px) {
  .header .header__nav {
    display: none;
  }
  .header .header__top {
    height: 6rem;
  }
  .header__bottom {
    display: none;
  }
  .header .header__logo {
    max-width: 20rem;
    z-index: 999;
  }
  .intro {
    padding-top: 2rem !important;
  }
  .header__phone,
  .header__social a,
  .header__adress {
    display: none;
  }
  .header .burger__btn {
    display: block;
    cursor: pointer;
  }
  .header .burger__btn span {
    background-color: red;
  }
  .features__box {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  .features .features__item {
    padding: 4.5rem !important;
    max-width: 64rem !important;
    border-right: none !important;
  }
  .features .features__item:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid #02505e;
  }
  .sale__item {
    padding: 1.6rem 2.2rem !important;
  }
  iframe {
    display: none;
  }
  .footer {
    text-align: center;
  }
}

@media (max-width: 970px) {
  .tooth__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .tooth .tooth__price {
    margin-top: 5rem;
  }
  .tooth .tooth__jaw {
    margin-bottom: 2rem;
  }
}

@media (max-width: 600px) {
  .tooth__area {
    display: none;
  }
  .tooth__info {
    position: absolute;
    top: 10%;
    left: 0;
    background-color: #fff;
    display: none;
  }
  .tooth .close__btn {
    display: block;
  }
  .intro .intro__title {
    font-size: 3rem;
  }
  .intro .intro__cta {
    font-size: 1.5rem;
  }
  .intro .intro__cta-phone {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  .intro .burger__menu {
    padding-top: 3.5rem !important;
  }
  .intro {
    min-height: 52rem !important;
    padding-top: 2.5rem !important;
  }
  .intro .intro__title {
    font-size: 2.3rem;
  }
  .intro .intro__subtitle {
    font-size: 1.8rem;
  }
  .intro .intro__cta {
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }
  .intro .intro__cta-phone {
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }
  .intro .intro__yandex img {
    max-width: 7rem;
  }
  .intro .intro__google img {
    max-width: 7rem;
  }
  .intro .intro__2gis img {
    max-width: 7rem;
  }
  .features .features__item {
    padding: 4rem 2rem !important;
  }
  .main__title {
    font-size: 3.8rem;
  }
  .tooth__head {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
  }
  .tooth .tooth__tab h3 {
    font-size: 26px;
  }
  .tooth .tooth__tab h4 {
    font-size: 1.5rem;
  }
  .tooth .tooth__tab p {
    font-size: 1.5rem;
  }
  .tooth .tooth__btn {
    display: block;
    text-align: center;
  }
  .tooth .tooth__download {
    display: block;
  }
  .tooth .tooth__box {
    margin-bottom: 4rem;
  }
  .tooth .tooth__pdf {
    max-width: 3.3rem;
  }
  .tooth .tooth__jaw-img svg {
    height: 45rem;
  }
}

@media (max-width: 376px) {
  .tooth .tooth__info {
    top: 3%;
  }
  .intro {
    padding-top: 2rem !important;
  }
}

.header {
  width: 100%;
}

.header__logo {
  max-width: 40rem;
}

.header__top {
  width: 100%;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3.5rem;
}

.header__links:not(:last-child) {
  margin-right: 3rem;
}

.header__link {
  text-decoration: none;
  font-weight: 500;
  color: #02505e;
  position: relative;
}

.header__link::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #02505e;
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__link:hover::before {
  bottom: -3px;
  opacity: 1;
}

.header__btn {
  text-transform: uppercase;
  border: 3px solid #02505e;
  background-color: #02505e;
  border-radius: 3rem;
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 0.7rem 3rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__btn:hover {
  background-color: #fff;
  color: #02505e;
}

.header__bottom {
  position: relative;
  color: #fff;
  z-index: 100;
  width: 100%;
  background-color: #02505e;
}

.header__bottom .header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0 0.7rem;
}

.header__bottom .header__phone {
  color: #fff;
  text-decoration: none;
}

.header__bottom .header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom .header__social a:first-child {
  margin-right: 2rem;
}

.header__bottom .header__whatsapp {
  width: 3rem;
}

.header__bottom .header__inst {
  width: 3rem;
  margin-right: 2rem;
}

.burger__btn {
  width: 2.8rem;
  height: 3rem;
  position: relative;
  display: none;
  z-index: 999;
}

.burger__btn span:nth-child(1) {
  width: 100%;
  height: 3px;
  background-color: #02505e;
  display: block;
  position: absolute;
  top: 9px;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.burger__btn span:nth-child(2) {
  width: 100%;
  height: 3px;
  background-color: #02505e;
  display: block;
  position: absolute;
  top: 18px;
  left: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.burger__btn span:nth-child(3) {
  width: 100%;
  height: 3px;
  background-color: #02505e;
  display: block;
  position: absolute;
  top: 27px;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.burger__btn.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.burger__btn.open span:nth-child(2) {
  display: none;
}

.burger__btn.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.burger__menu.open-menu {
  top: 0;
}

.burger__menu {
  text-align: center;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 3;
  padding-top: 10.5rem;
  padding-bottom: 6.5rem;
}

.burger__links li .burger__link {
  list-style: none;
  text-decoration: none;
  color: #02505e;
  font-size: 20px;
  font-weight: 500;
}

.burger__links li {
  margin-bottom: 2rem;
  list-style: none;
}

.burger__phone {
  color: #02505e;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5rem;
}

.burger__social {
  text-align: center;
  margin-bottom: 2rem;
}

.burger__social a {
  margin: 0 0.5rem;
}

.burger__online {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #02505e;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1rem 2.5rem;
  border-radius: 3rem;
  border: 3px solid #02505e;
  -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out,
 border-color 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out,
 border-color 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out,
 border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out,
 border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.burger__online:hover {
  background-color: #fff;
  color: #02505e;
}

.intro {
  min-height: 67.6rem;
  width: 100%;
  position: relative;
  background: url("../images/main-bg.svg") no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 10rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.intro__container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2.5rem;
  position: relative;
}

.intro__content {
  max-width: 50rem;
}

.intro__title {
  color: #02505e;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.55;
  margin-bottom: 3rem;
  position: relative;
  padding-bottom: 3rem;
}

.intro__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #02505e;
  position: absolute;
  bottom: 0;
  left: 0;
}

.intro__subtitle {
  line-height: 1.55;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  margin-bottom: 2rem;
}

.intro__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}

.intro__cta {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 400;
  border: 2px solid #02505e;
  border-radius: 30px;
  background-color: #02505e;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
 border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
 border-color 0.2s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 4rem;
  display: inline-block;
  cursor: pointer;
}

.intro__cta:hover {
  background-color: #fff;
  color: #02505e;
}

.intro__cta-phone {
  display: inline-block;
  color: #02505e;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 400;
  border: 2px solid #02505e;
  border-radius: 30px;
  background-color: #fff;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
 border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
 border-color 0.2s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 4rem;
  display: inline-block;
}

.intro__cta-phone:hover {
  color: #fff;
  background-color: #02505e;
}

.intro__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.intro__yandex img {
  max-width: 10rem;
}

.intro__google img {
  max-width: 10rem;
}

.intro__2gis img {
  max-width: 10rem;
}

.features {
  padding: 5.5rem 0 8rem;
  text-align: center;
}

.features .features__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 7rem;
}

.features .features__item {
  max-width: 36rem;
  text-align: center;
  padding: 0 2.5rem;
}

.features .features__item:not(:last-child) {
  border-right: 1px solid #02505e;
}

.features .features__logo {
  max-width: 8rem;
  margin-bottom: 3rem;
}

.features .features__title {
  margin-bottom: 3rem;
  color: #02505e;
  font-weight: 600;
  font-size: 2.4rem;
}

.features .features__text {
  font-size: 2rem;
  line-height: 1.55;
}

.tooth__head {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
  margin-right: 5rem;
  margin-left: 5rem;
}

.tooth__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 7rem;
  position: relative;
}

.tooth__jaw {
  margin: 0 1.5rem;
  max-width: 32.6rem;
  height: auto;
  position: relative;
}

.tooth__top {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 55%;
}

.tooth__bot {
  position: absolute;
  bottom: 35%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 55%;
}

.tooth__jaw-img svg {
  width: 100%;
  height: 55rem;
}

.tooth__content {
  max-width: 56.4rem;
}

.tooth__note {
  color: #02505e;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 400;
  margin-bottom: 2rem;
}

.tooth__note span {
  font-weight: 600;
}

.tooth__info {
  padding: 1.5rem;
  border: 2px solid #02525e;
  text-align: left;
  border-radius: 1.5rem;
  color: #02505e;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 400;
  margin-bottom: 2rem;
}

.tooth__info span {
  font-weight: 700;
}

.close__btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 5rem;
  width: 2.5rem;
  display: none;
}

.tooth__btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #02525e;
  color: #fff;
  border-radius: 3rem;
  font-size: 2rem;
  line-height: 1.55;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(145, 145, 145, 0.3);
          box-shadow: 1px 1px 10px 1px rgba(145, 145, 145, 0.3);
  border: 2px solid #02525e;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 1.2rem 3.5rem;
}

.tooth__btn:hover {
  color: #02525e;
  background-color: #fff;
}

.tooth__price {
  margin: 0 1.5rem;
  text-align: center;
  width: 10rem;
}

.tooth__pdf {
  width: 6.1rem;
}

.tooth__download {
  color: #02505e;
  font-size: 15px;
  line-height: 1.55;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
}

.active {
  display: block;
}

[data-tab-info] {
  display: none;
}

.active[data-tab-info] {
  display: block;
}

.close {
  display: none;
}

.tooth__area {
  padding: 7.9rem 8.5rem;
  text-align: center;
}

.tooth__tab h3 {
  color: #02505e;
  font-size: 30px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.tooth__tab h4 {
  color: #02505e;
  font-size: 20px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  margin-bottom: 2rem;
}

.tooth__tab p {
  color: #02505e;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

#bot-jaw {
  padding-bottom: 6rem;
}

#top-jaw {
  padding-bottom: 6rem;
}

#bot-l-7,
#bot-l-6,
#bot-l-5,
#bot-l-4,
#bot-l-8,
#bot-l-3,
#bot-l-2,
#bot-l-1,
#top-r-8,
#top-r-7,
#top-r-6,
#top-r-5,
#top-r-4,
#top-r-3,
#top-r-2,
#top-r-1,
#top-l-1,
#top-l-2,
#top-l-3,
#top-l-4,
#top-l-5,
#top-l-6,
#top-l-7,
#top-l-8,
#bot-r-1,
#bot-r-2,
#bot-r-3,
#bot-r-4,
#bot-r-5,
#bot-r-6,
#bot-r-7,
#bot-r-8 {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#bot-l-7:hover,
#bot-l-6:hover,
#bot-l-5:hover,
#bot-l-4:hover,
#bot-l-8:hover,
#bot-l-3:hover,
#bot-l-2:hover,
#bot-l-1:hover,
#top-r-8:hover,
#top-r-7:hover,
#top-r-6:hover,
#top-r-5:hover,
#top-r-4:hover,
#top-r-3:hover,
#top-r-2:hover,
#top-r-1:hover,
#top-l-1:hover,
#top-l-2:hover,
#top-l-3:hover,
#top-l-4:hover,
#top-l-5:hover,
#top-l-6:hover,
#top-l-7:hover,
#top-l-8:hover,
#bot-r-1:hover,
#bot-r-2:hover,
#bot-r-3:hover,
#bot-r-4:hover,
#bot-r-5:hover,
#bot-r-6:hover,
#bot-r-7:hover,
#bot-r-8:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform: translateY(-1);
          transform: translateY(-1);
}

.sale {
  padding: 6rem 0;
}

.sale__item {
  padding: 40px;
  border-radius: 9px;
  border: 1px solid #eee;
  max-width: 76rem;
  margin: 0 auto;
  margin-bottom: 1.7rem;
}

.sale__title {
  color: #02505e;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 1.55;
  margin-bottom: 2rem;
}

.sale__text {
  font-size: 2rem;
  line-height: 1.5;
}

.sale__text span {
  font-weight: 500;
  color: #000;
  line-height: 1.55;
}

.footer {
  background-color: #02525e;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__container {
  width: 100%;
  max-width: 125rem;
  margin: 0 auto;
  padding: 0 2.5rem;
  position: relative;
}

.footer__logo {
  max-width: 30rem;
  margin-bottom: 2rem;
}

.footer .footer__title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.55;
  color: #fff;
  margin-bottom: 0.2rem;
}

.footer .footer__phone {
  color: #fff;
  margin-bottom: 2rem;
  line-height: 1.55;
  text-decoration: none;
}

.footer .footer__adress {
  color: #fff;
  margin-bottom: 2rem;
  line-height: 1.55;
}

.footer .footer__time {
  color: #fff;
  margin-bottom: 2rem;
  line-height: 1.55;
}

.footer__contact {
  display: inline-block;
}

.footer__insta {
  width: 5.5rem;
  display: inline-block;
  margin-right: 2rem;
}

.footer__whatsapp {
  width: 5.5rem;
  display: inline-block;
}

iframe {
  position: absolute;
  right: 0;
  top: 4.5rem;
}
